<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="sidebar">
    <aside class="sidebar" id="sidebar">

        <div class="sidebar__header">

            <a th:href="@{/projects/dashboard}" class="sidebar__logo">
                <img th:src="@{/images/logo.png}"
                     alt="WorkTopus"
                     class="sidebar__logo-img">
                <span class="sidebar__logo-text">WorkTopus</span>
            </a>

            <button id="sidebarToggle"
                    class="sidebar__toggle"
                    type="button"
                    aria-label="사이드바 접기">
                <img th:src="@{/img/layout-grid.svg}" alt="">
            </button>

        </div>

        <nav class="sidebar__nav">
            <ul class="sidebar__menu">

                <li class="sidebar__item">
                    <a th:href="@{/projects/{projectId}/boards/dashboard(projectId=${projectId})}"
                       class="sidebar__link sidebar__link--active">
                        <span class="sidebar__icon" th:insert="~{fragments/icons :: dashboard}">

                        </span>
                        <span class="sidebar__text">대시보드</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a th:href="@{/projects/{projectId}/boards(projectId=${projectId})}"
                       class="sidebar__link">
        <span class="sidebar__icon" th:insert="~{fragments/icons :: project}">
        </span>
                        <span class="sidebar__text">프로젝트(일반)</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a th:href="@{/projects/{projectId}/boards/modal-list(projectId=${projectId})}"
                       class="sidebar__link">
        <span class="sidebar__icon" th:insert="~{fragments/icons :: project1}">
        </span>
                        <span class="sidebar__text">프로젝트(팝업형)</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a th:href="@{/projects/{projectId}/boards/kanban(projectId=${projectId})}" class="sidebar__link">
                        <span class="sidebar__icon" th:insert="~{fragments/icons :: kanban}">
                        </span>
                        <span class="sidebar__text">칸반보드</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a th:href="@{/projects/{projectId}/boards/calendar(projectId=${projectId})}" class="sidebar__link">
                        <span class="sidebar__icon" th:insert="~{fragments/icons :: calender}">
                        </span>
                        <span class="sidebar__text">캘린더</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a th:href="@{/projects/{projectId}/files(projectId=${projectId})}" class="sidebar__link">
                        <span class="sidebar__icon" th:insert="~{fragments/icons :: file}">
                        </span>
                        <span class="sidebar__text">파일</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a th:href="@{/memo}" class="sidebar__link">
                        <span class="sidebar__icon" th:insert="~{fragments/icons :: memo}">
                        </span>
                        <span class="sidebar__text">메모</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a th:href="@{/projects/{projectId}/prj-setting}" class="sidebar__link">
                        <span class="sidebar__icon" th:insert="~{fragments/icons :: setting}">
                        </span>
                        <span class="sidebar__text">설정</span>
                    </a>
                </li>

            </ul>
        </nav>

        <div class="sidebar__footer">

            <a th:href="@{/info}" class="sidebar__link" aria-label="내 정보">
                <span class="sidebar__icon" th:insert="~{fragments/icons :: info}">
                </span>
            </a>

            <span class="sidebar__divider"></span>

            <form th:action="@{/logout}" method="post">
                <button type="submit"
                        class="sidebar__link sidebar__logout"
                        aria-label="로그아웃">
                    <span class="sidebar__icon"
                          th:insert="~{fragments/icons :: logout}">
                    </span>
                </button>
            </form>

        </div>

    </aside>
</th:block>

</body>
</html>
