* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

a {
  display: block;
}

img {
  vertical-align: top;
}

:root {
  --primary: #7287F4;
  --primary-hover: #5D73EA;
  --primary-light: #EEF1FF;
  --primary-dark: #5F72D9;

  --text-main: #222;
  --text-sub: #666;
  --bg-main: #ffffff;
}